/* LAPTOPS (992px - 1919px) */

@media (min-width: 992px) and (max-width:1919px){

  .logo {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 3vmax;
    height: 3vmax;
  }
  
  .logo img {
    width: 100%;
  }
  .topbar {
    background-color: transparent;
    position: fixed;
    top: 0rem;
    height: 3vmax;
    left: 0rem;
    right: 0rem;
    border-bottom: 1px solid #6368da;
    display: flex;
    overflow: hidden;
    gap: 1rem;
    user-select: none;
  }
  
  .topbar-content{
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 1rem;
  }
  
  .topbar-content p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.75vmax;
    padding-top: 0.25rem;
    background: linear-gradient(144.65deg, #860471, #6368da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  .sidebar  {
    background-color: transparent;
    position: fixed;
    top: 0rem;
    width: 3vmax;
    left: 0rem;
    bottom: 0rem;
    border-right: 1px solid #6368da;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .sidebar-content{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
    gap: 2rem;
    width: 2.15vmax;
    align-items: center;
    padding-left: 0.4vmax;
  }
  
  .sidebar-content p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.75vmax;
    color: #00034C;
    writing-mode: vertical-rl;
    background: linear-gradient(144.65deg, #860471, #6368da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4vmax;
    padding: 0vmax 5vmax 0vmax 5vmax;
  }
  
  .game-option-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: center;
    height: auto;
    width: auto;
   
  }
  
  .game-option-section button {
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 100%;
    transition: box-shadow ease 0.15s;
    cursor: pointer;
    height: 12vmax;
    width: 12vmax;
  }
  
  .game-option-section button:hover {
    background-color: antiquewhite;
    box-shadow: 1px 5px 5px rgba(227, 229, 240, 0.6);
  }
  
  .game-option-section button img {
    height: 40%;
   }
   
  .player-icon {
    height: 2rem;
    margin: 0rem 0.5rem;
  }
  .move-icon {
    height: 40px;
  }
  
  .outcome-section {
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin-bottom: 0rem;
  }
  
  .result {
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    font-size: 6vmax;
  }
  
  .result-info {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #E9EAFF;
    font-size: 1rem;
    height: 2.75rem;
  }
  
  .stats {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #E9EAFF;
    font-size: 1.5vmax;
  }
  
  .stats-section {
    display: flex;
    flex-direction: column;
    row-gap: 2vmax;
    align-items: center;
    margin-top: 1rem;
  }
  
  .stats-section button {
    background-image: linear-gradient(144.65deg, #860471, #6368da);
    border-radius: 5rem;
    border: none;
    display: flex;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 1vmax 2vmax;
    font-size: 1.25vmax;
    text-decoration: none;
    transition: background-color .3s ease-in;
    color: white;
    cursor: pointer;
  }
  
  .stats-section button:hover {
    background-image: linear-gradient(144.65deg, #6368da, #860471);
  }
  
  .footer {
    position: fixed;
    bottom: 0rem;
    width: 100%;
  }
  
  .footer p {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #E9EAFF;
    font-size: 0.75vmax;
    font-weight: 200;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

}
